    <link rel="stylesheet" href="../css/stylesDetails.css">
</head>
<body> 
    {{>navigation}}   
        <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
        <div class="container-fluid mt-2 mb-3">
            <div class="row no-gutters">
                <div class="col-md-5 pr-2">
                    <div class="card">
                        <div class="demo">
                            <ul id="lightSlider">
                                <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img class="imgBig" src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img class="imgBig" src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img class="imgBig" src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <h6>Puntuacion</h6>
                        <div class="d-flex flex-row">
                            <div class="stars"> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1 font-weight-bold">4.6</span>
                        </div>
                        <hr>
                        <div class="comment-section">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle profile-image">
                                    <div class="d-flex flex-column ml-1 comment-profile">
                                        <div class="comment-ratings"> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Persona 1</span>
                                    </div>
                                </div>
                                <div class="date"> <span class="text-muted">2 May</span> </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle profile-image">
                                    <div class="d-flex flex-column ml-1 comment-profile">
                                        <div class="comment-ratings"> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Persona 2</span>
                                    </div>
                                </div>
                                <div class="date"> <span class="text-muted">12 May</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="d-md-flex align-items-md-center">
                            <div class="name">Hospedaje 1<span class="city"> Ubicacion 1</span> </div>     
                        </div>
                        <div class="about pb-3 pt-3">
                            <h4 class="font-weight-bold">$3,444</h4>
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-danger text-uppercase mx-2" id="Denuncias" href="#" role="button">DENUNCIAS</a>
                            <a class="btn btn-primary text-uppercase mx-2" id="Reservas" href="#" role="button">RESERVAR</a>
                        </div>
                        <hr>
                        <div class="product-description">
                            <div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i> <span class="ml-1">Delivery from sweden, 15-45 days</span> </div>
                            <div class="mt-2"> <span class="font-weight-bold">Description</span>
                                <p>The minimalist collaboration features chairs, lightening, Shelves, Sofas, Desks and various home accessories, all offering form and function at the same point.We use high-strength clamps and joinery techniques specially designed for engineered wood beds. Ergo, no irksome creaks - and you can sleep like a baby, well into adulthood!</p>
                                <div class="bullets">
                                    <div class="d-flex align-items-center"> <span class="dot color-red"></span> <span class="bullet-text">Best in Quality</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Anti-creak joinery</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Sturdy laminate surfaces</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Relocation friendly design</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">High gloss, high style</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Easy-access hydraulic storage</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2"> <span>Otros hospedajes:</span>
                        <div class="similar-products mt-2 d-flex flex-row">
                            <a class="imagenes" href="www.google.com">
                                <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="https://i.imgur.com/KZpuufK.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">$1,999</h6>
                                    </div>
                                </div>
                            </a>
                            <a class="imagenes" href="www.google.com">
                                <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="https://i.imgur.com/GwiUmQA.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">$1,699</h6>
                                    </div>
                                </div>
                            </a>
                            <a class="imagenes" href="www.google.com">
                                <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="https://i.imgur.com/c9uUysL.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">$2,999</h6>
                                    </div>
                                </div>
                            </a>

                            <a class="imagenes" href="www.google.com">   
                                <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="https://i.imgur.com/kYWqL7k.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">$3,999</h6>
                                    </div>
                                </div>
                            </a>

                            <a class="imagenes" href="www.google.com">
                                <div class="card border p-1" style="width: 9rem;"> <img src="https://i.imgur.com/DhKkTrG.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">$999</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
        <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
        <script>
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        </script>    
    <script>
        const linkactivo=document.getElementById("Detalles")
        linkactivo.classList.add('active')
    </script>