    <link rel="stylesheet" href="../css/stylesSearch.css">
</head>
<body> 
    {{>navigation}}   

    <div class="container my-sm-5 p-0 bg-sec-light">
        <div id="content">
            <div class="searchs">
                <form action="/resultados" method="post">
                        <div class="row g-2">
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <input class="form-control" list="datalistOptions" id="exampleDataList"
                                    aria-label="Que localidad quieres visitar" />
                                    <datalist id="datalistOptions" name="Localidad">
                                    <option value="Yala">Doctor Manuel Belgrano</option>
                                    <option value="Yavi">Yavi</option>
                                    <option value="Yavi Chico">Yavi</option>
                                    <option value="Yoscaba">Santa Catalina</option>
                                    <option value="Yuto">Ledesma</option>
                                    </datalist>
                                    <label for="exampleDataList">¿A donde quieres hospedarte?</label>
                                </div>
                            </div>
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <input class="form-control" list="datalistOptions" id="exampleDataList"
                                    aria-label="Que localidad quieres visitar" />
                                    <datalist id="datalistOptions" name="Localidad">
                                    <option value="Yala">Doctor Manuel Belgrano</option>
                                    <option value="Yavi">Yavi</option>
                                    <option value="Yavi Chico">Yavi</option>
                                    <option value="Yoscaba">Santa Catalina</option>
                                    <option value="Yuto">Ledesma</option>
                                    </datalist>
                                    <label for="exampleDataList">¿Tipo de alojamiento?</label>
                                </div>
                            </div>
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <input class="form-control" list="datalistOptions" id="exampleDataList"
                                    aria-label="Que localidad quieres visitar" />
                                    <datalist id="datalistOptions" name="Localidad">
                                    <option value="Yala">Doctor Manuel Belgrano</option>
                                    <option value="Yavi">Yavi</option>
                                    <option value="Yavi Chico">Yavi</option>
                                    <option value="Yoscaba">Santa Catalina</option>
                                    <option value="Yuto">Ledesma</option>
                                    </datalist>
                                    <label for="exampleDataList">¿Huespedes?</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 m-2">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                </form>
            </div>    
            <div class="d-sm-flex">
                <div class="me-sm-2">
                    <div id="filter" class="p-2 bg-light ms-md-4 ms-sm-2 border">
                        <div class="border-bottom h5 text-uppercase">Filtrado por</div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Precio <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box" aria-expanded="false" aria-controls="inner-box"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="inner-box" class="collapse show">
                                <div class="my-1"> <label class="tick">Menos que 2000 <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">2000 - 3000 <input type="checkbox"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">3000 - 4500 <input type="checkbox"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">4500 - 6000 <input type="checkbox"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">6000 - 8000 <input type="checkbox"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">8000 -10,000 <input type="checkbox" checked> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">Mas que 10,000<input type="checkbox"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Piscina <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#property" aria-expanded="false" aria-controls="property"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="property" class="collapse">
                                <div class="my-1"> <label class="tick">Si <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">No <input type="checkbox"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Estacionamiento <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#amenities" aria-expanded="false" aria-controls="amenities"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="amenities" class="collapse show">
                                <div class="my-1"> <label class="tick">Si <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">No<input type="checkbox"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="bg-white p-2 border" id="hotels">
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img src="https://images.unsplash.com/photo-1580835845971-a393b73bf370?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Hospedaje 1<span class="city"> Ubicacion 1</span> </div>
                                    <div class="ms-auto code text-uppercase">PRECIO 50$</div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles" role="button">VER</a>
                            <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img src="https://images.unsplash.com/photo-1596618502142-d2a9d0c1fc2e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTd8fHJlc29ydHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Hospedaje 2<span class="city"> Ubicacion 2</span> </div>
                                    <div class="ms-auto code text-uppercase">PRECIO 50$</div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles" role="button">VER</a>
                            <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4">
                        <div class="row">
                            <div class="col-lg-3"> <img src="https://images.unsplash.com/photo-1583037189850-1921ae7c6c22?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzV8fHJlc29ydHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Hospedaje 3<span class="city"> Ubicacion 4</span> </div>
                                    <div class="ms-auto code text-uppercase">PRECIO 50$</div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles" role="button">VER</a>
                            <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img src="https://images.unsplash.com/photo-1580835845971-a393b73bf370?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Hospedaje 1<span class="city"> Ubicacion 1</span> </div>
                                    <div class="ms-auto code text-uppercase">PRECIO 50$</div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles" role="button">VER</a>
                            <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img src="https://images.unsplash.com/photo-1580835845971-a393b73bf370?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Hospedaje 1<span class="city"> Ubicacion 1</span> </div>
                                    <div class="ms-auto code text-uppercase">PRECIO 50$</div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles" role="button">VER</a>
                            <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const linkactivo=document.getElementById("Alojamientos")
        linkactivo.classList.add('active')
    </script>