    <link rel="stylesheet" href="css/stylesAboutUs.css">
</head>
<body>
    {{>navigation}}
    <div class="container mt-5">
        <div class="text-center mb-3">
            <h2>SOMOS TURISTIK</h2>
        </div>
        <p class="text-center m-4">TURISTIK nació para ayudar a nuestra gente, por eso en nuestra página podrás encontrar los emprendimientos que hay en nuestra provincia.</p>
        <br>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card"> <img src="https://cdn-icons-png.flaticon.com/512/1694/1694364.png" width="40">
                    <h5>Nuestro Objetivo</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores fugit tempora laudantium similique nesciunt non perferendis quas quibusdam nostrum voluptatibus nulla eos sapiente fuga sint, minus neque. Pariatur, nobis.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <img src="https://res.cloudinary.com/turistick/image/upload/v1634953906/Global/vision_iiupls.png" width="40">
                    <h5>Nuestra Visión</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, hic? Odit eveniet repellat illo, mollitia et ratione laudantium vitae iusto reiciendis rerum, tempora nesciunt voluptate repellendus ipsa tenetur nisi assumenda?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <img src="https://res.cloudinary.com/turistick/image/upload/v1634953839/Global/linea-de-meta_yhqawy.png" width="40">
                    <h5>Nuestra Misión</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ut reprehenderit aliquid accusamus dolorum voluptates aperiam tempora. Aut temporibus laboriosam commodi perspiciatis debitis, rerum, doloremque, nostrum consectetur officia veniam quae?</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const linkactivo=document.getElementById("SobreNosotros")
        linkactivo.classList.add('active')
    </script>