    <link rel="stylesheet" href="css/stylesAboutUs.css">
</head>
<body>
    {{>navigation}}
    <div class="container mt-5">
        <div class="text-center mb-3">
            <h2 class="fs-1">SOMOS TURISTIK</h2>
        </div>
        <p class="text-center m-4 fs-3 fst-italic">TURISTIK nació para ayudar a nuestra gente, por eso en nuestra página podrás encontrar los emprendimientos que hay en nuestra provincia.</p>
        <br>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card"> <img src="https://cdn-icons-png.flaticon.com/512/1694/1694364.png" width="40">
                    <h5>Nuestro Objetivo</h5>
                    <p class="text-center">Turistik es una empresa con fuertes bases sobre la responsabilidad en sus trabajos, transparencia, amabilidad, y basado en el espiritu de colaboracion para el crecimiento tanto de los negocios locales, como en el crecimiento del turismo en la provincia. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <img src="https://res.cloudinary.com/turistick/image/upload/v1634953906/Global/vision_iiupls.png" width="40">
                    <h5>Nuestra Visión</h5>
                    <p class="text-center">Llegar a cada rincon de la provincia de San Salvador de Jujuy, brindando una oportunidad de negocio a cada emprendedor local y fortaleciendo el turismo de la misma. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <img src="https://res.cloudinary.com/turistick/image/upload/v1634953839/Global/linea-de-meta_yhqawy.png" width="40">
                    <h5>Nuestra Misión</h5>
                    <p class="text-center">Conectar a los emprendedores locales y a los usuarios que necesitan encontrar un hospedaje para su tiempo de ocio o recreacion, ofreciendo una experiencia unica y fomentando la economia colaborativa.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const linkactivo=document.getElementById("SobreNosotros")
        linkactivo.classList.add('active')
    </script>