    <link rel="stylesheet" href="css/stylesExploreJujuy.css">
</head>
<body>
  {{>navigation}}  
  <img src="https://res.cloudinary.com/turistick/image/upload/v1634951632/Global/JujuyEnergiaViva_vdbj3p.png" class="rounded mx-auto d-block" alt="Jujuy Energía Viva" width=100%>
  <h3 class="text-center m-3">Te invitamos a que conozcas un poco más sobre nuestra provincia</h2>
  <div class="container">
      <div>
          <img src="https://cdn-icons-png.flaticon.com/512/2332/2332918.png" alt="" class="rounded float-start" width="30px">
        <h3> Historia de Jujuy</h3>
      </div>

      <div id="timeline">
		<ul id="dates">
			<li><a href="#1900" class="selected">1900</a></li>
			<li><a href="#1930">1930</a></li>
			<li><a href="#1944">1944</a></li>
			<li><a href="#1950">1950</a></li>
			<li><a href="#1971">1971</a></li>
			<li><a href="#1977">1977</a></li>
			<li><a href="#1989">1989</a></li>
			<li><a href="#1999">1999</a></li>
			<li><a href="#2001">2001</a></li>
			<li><a href="#2011">2011</a></li>
		</ul>
		<ul id="issues">
			<li id="1900" class="selected">
				<img src="https://media.jujuyalmomento.com/p/edd778dbde11ab8ac8ae56964ba105a4/adjuntos/260/imagenes/000/589/0000589327/autonomia-2015-jujuy_5304jpg.jpg" />
				<h1>1900</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1930">
				<img src="https://media.todojujuy.com/p/91a45c07fa138aeb8c8493ba143a7b9a/adjuntos/227/imagenes/001/339/0001339693/diseno-titulo-84jpg.jpg" />
				<h1>1930</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1944">
				<img src="https://i.pinimg.com/originals/c0/76/f7/c076f7d7ed2eaf0c4c0b122984a7d129.jpg" />
				<h1>1944</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1950">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/4.png" />
				<h1>1950</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1971">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/5.png" />
				<h1>1971</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1977">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/6.png" />
				<h1>1977</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1989">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/7.png" />
				<h1>1989</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1999">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/8.png" />
				<h1>1999</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="2001">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/9.png" />
				<h1>2001</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="2011">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/10.png" />
				<h1>2011</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
		</ul>
		<div id="grad_top"></div>
		<div id="grad_bottom"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>
	</div>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634954673/Global/montana-de-siete-colores_xxylfb.png" alt="" class="rounded float-start" width="30px">
      <h3>  Regiones de Jujuy</h3>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634951606/Global/Puna_fqw9r1.png" class="img-fluid rounded-start" alt="Region Puna">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h4 class="card-title h5Puna" id="RegionPuna">Puna</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque facilis eum exercitationem itaque libero vero nulla animi ut commodi fugiat consequatur aut, error ea voluptates iusto assumenda veritatis ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nihil laborum iure, corporis, nesciunt vel error, consequuntur dicta blanditiis commodi alias eaque! Molestias, velit? Quo aperiam ex placeat aspernatur ipsum?</p>
        </div>
        </div>
    </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951619/Global/Quebrada_yrrtut.png" class="img-fluid rounded-start" alt="Región Quebrada">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Quebrada" id="RegionQuebrada">Quebrada</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque facilis eum exercitationem itaque libero vero nulla animi ut commodi fugiat consequatur aut, error ea voluptates iusto assumenda veritatis ipsam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. A asperiores distinctio illo aliquid numquam, quia odio repellendus, voluptatum ab libero delectus vel animi, minus enim. Ullam repellendus ducimus dolore possimus.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951614/Global/Yungas_huwcfn.png" class="img-fluid rounded-start" alt="Región Yungas">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Yungas" id="RegionYungas">Yungas</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque facilis eum exercitationem itaque libero vero nulla animi ut commodi fugiat consequatur aut, error ea voluptates iusto assumenda veritatis ipsam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus repudiandae mollitia voluptate, laudantium blanditiis quia! Eos praesentium consequatur delectus quia hic enim suscipit, ex doloribus, totam dolorem iure mollitia nemo.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951622/Global/Valles_sd4bir.png" class="img-fluid rounded-start" alt="Región Valles">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Valles" id="RegionValles">Valles</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque facilis eum exercitationem itaque libero vero nulla animi ut commodi fugiat consequatur aut, error ea voluptates iusto assumenda veritatis ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum cupiditate, magni mollitia animi deserunt sunt? Accusamus illum, temporibus nulla totam ab molestiae exercitationem, molestias rerum autem ullam officia, facere earum.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634954915/Global/poncho_jjmpme.png" alt="" class="rounded float-start" width="30px">
      <h3>  Cultura de Jujuy</h3>
    </div>
    
    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Titulo</li>
        </ul>
        <img src="https://www.cultura.gob.ar/media/uploads/7881993944_45c49c37b0_z.jpg" class="rounded float-start m-2" alt="...">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia similique placeat deserunt nam quis quas sapiente, ipsam veritatis voluptate dicta nemo voluptas, sit inventore, molestias excepturi odit minima! Reiciendis!Lorem lorem</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quis expedita et, totam eveniet doloribus minima blanditiis saepe ipsam, possimus quod natus sint tenetur voluptatem officiis dolor ea id. Nam?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur consequatur ut fugit, nostrum mollitia molestiae fugiat quidem aliquam, dicta explicabo corrupti dignissimos repellat provident aperiam recusandae eligendi. Laboriosam, ipsam voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eveniet nisi dolores delectus, eaque repellendus rerum quas asperiores officiis suscipit, laborum ratione eius. Perspiciatis non excepturi asperiores tenetur voluptatem praesentium!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti temporibus ullam reprehenderit dolores porro inventore consequatur labore sapiente animi, non rem amet quae quod, ducimus quam tenetur molestias illo!</p>
        
    </div>
    
    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Titulo</li>
        </ul>
        <br>
        <img src="https://www.vivajujuydiario.com/wp-content/uploads/2020/08/3.jpg" class="rounded float-end m-2" alt="...">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia similique placeat deserunt nam quis quas sapiente, ipsam veritatis voluptate dicta nemo voluptas, sit inventore, molestias excepturi odit minima! Reiciendis!Lorem lorem</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quis expedita et, totam eveniet doloribus minima blanditiis saepe ipsam, possimus quod natus sint tenetur voluptatem officiis dolor ea id. Nam?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur consequatur ut fugit, nostrum mollitia molestiae fugiat quidem aliquam, dicta explicabo corrupti dignissimos repellat provident aperiam recusandae eligendi. Laboriosam, ipsam voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eveniet nisi dolores delectus, eaque repellendus rerum quas asperiores officiis suscipit, laborum ratione eius. Perspiciatis non excepturi asperiores tenetur voluptatem praesentium!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti temporibus ullam reprehenderit dolores porro inventore consequatur labore sapiente animi, non rem amet quae quod, ducimus quam tenetur molestias illo!</p>
    </div>

    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/2771/2771406.png" alt="" class="rounded float-start" width="30px">
      <h3>  Comidas Típicas de Jujuy</h3>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <img src="https://www.hazteveg.com/img/recipes/full/201204/R21-41977.jpg" class="rounded-circle m-2" alt="..." width="75px" height="75px">
                <p class="fs-3 fw-bold"> Humitas</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa reiciendis ex blanditiis, ipsum fuga soluta atque quis nisi cumque accusantium! Fuga enim vitae perferendis accusantium pariatur qui veniam earum laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti eius reprehenderit dolorem illo aperiam saepe impedit sapiente non, alias dicta, laudantium qui delectus, culpa modi perspiciatis labore nostrum nemo!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <img src="https://us.cdn.eltribuno.com/112017/1510761813515.jpg?cw=600&ch=365" class="rounded-circle m-2" alt="..." width="75px" height="75px">
                <p class="fs-3 fw-bold"> Tamales</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias id tenetur exercitationem magni excepturi sint. Assumenda in, doloremque ab praesentium fugit incidunt quod doloribus ut cum obcaecati architecto, vero nesciunt?
              Iure delectus vitae accusantium voluptatem, consectetur esse reiciendis obcaecati libero officiis? Quisquam non, harum ratione at fugit magnam voluptates nobis nisi adipisci commodi eaque nemo blanditiis unde. Alias, suscipit similique.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <img src="https://www.196flavors.com/wp-content/uploads/2018/12/picante-de-pollo-1-FP.jpg" class="rounded-circle m-2" alt="..." width="75px" height="75px">
                <p class="fs-3 fw-bold"> Picante de Pollo</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam culpa nesciunt voluptatum sit deserunt accusantium perferendis provident! Dolores, porro at. Iste corrupti velit sed perspiciatis culpa eveniet, est quis.
              Harum totam ab laudantium recusandae dolorum dolore beatae veritatis quod. Numquam explicabo facere at vel deserunt hic laudantium, ducimus accusamus repellendus, error est voluptate. Ea corrupti rem libero deserunt harum.
              Porro incidunt explicabo saepe blanditiis atque totam non amet quidem asperiores illum expedita laudantium, ipsa facere est soluta aliquam eligendi temporibus velit veritatis! Mollitia autem velit rerum fugit ad consequuntur!
            </div>
          </div>
        </div>
    </div>
    <br>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634955101/Global/llamada-de-socorro_bo8iy3.png" alt="" class="rounded float-start" width="30px">
        <h3>  Servicios de Emergencias</h3>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/1022/1022331.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Policía</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>911</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/2991/2991301.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Bomberos</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>100</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/3708/3708571.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Emergencias Médicas</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>107</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc116VMxZn8kabVk_pygisr4gK2ydsm0AzqKLe9dkO8tNXy_tYlQZwknaFnOmNxP0gwBw&usqp=CAU" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Defensa Civil</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>103</p>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col">
            <p class="fw-light fs-4 text-center">Ubicación de los principales hospitales</p>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fRrAkhYMpLmjEtd7fPffAql_VexsY_3e" width="640" height="480"></iframe>
        </div>
        <div class="col">
            <p class="fw-light fs-4 text-center">Ubicación de las principales seccionales policiales</p>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11kJXcJN1AM7-AaokvvwB4tpW2nOaAxV5" width="640" height="480"></iframe>
        </div>
    </div>
    <br>
    
    

  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://www.csslab.cl/ejemplos/timelinr/latest/js/jquery.timelinr-0.9.54.js"></script>
    <script>
      $(function(){
			$().timelinr({
				orientation: 	'vertical',
				issuesSpeed: 	300,
				datesSpeed: 	100,
				arrowKeys: 		'true',
				startAt:		1
			})
		});
    </script>
    <script>
        const linkactivo=document.getElementById("ExploraJujuy")
        linkactivo.classList.add('active')
    </script>