    <link rel="stylesheet" href="css/stylesExploreJujuy.css">
</head>
<body>
  {{>navigation}}  
  <img src="https://res.cloudinary.com/turistick/image/upload/v1634951632/Global/JujuyEnergiaViva_vdbj3p.png" class="rounded mx-auto d-block" alt="Jujuy Energía Viva" width=100%>
  <h3 class="text-center m-3">Te invitamos a que conozcas un poco más sobre nuestra provincia</h2>
  <div class="container">
      <div>
          <img src="https://cdn-icons-png.flaticon.com/512/2332/2332918.png" alt="" class="rounded float-start" width="30px">
        <h3> Historia de Jujuy</h3>
      </div>

      <div id="timeline">
		<ul id="dates">
			<li><a href="#1900" class="selected">1900</a></li>
			<li><a href="#1930">1930</a></li>
			<li><a href="#1944">1944</a></li>
			<li><a href="#1950">1950</a></li>
			<li><a href="#1971">1971</a></li>
			<li><a href="#1977">1977</a></li>
			<li><a href="#1989">1989</a></li>
			<li><a href="#1999">1999</a></li>
			<li><a href="#2001">2001</a></li>
			<li><a href="#2011">2011</a></li>
		</ul>
		<ul id="issues">
			<li id="1900" class="selected">
				<img src="https://media.jujuyalmomento.com/p/edd778dbde11ab8ac8ae56964ba105a4/adjuntos/260/imagenes/000/589/0000589327/autonomia-2015-jujuy_5304jpg.jpg" />
				<h1>1900</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1930">
				<img src="https://media.todojujuy.com/p/91a45c07fa138aeb8c8493ba143a7b9a/adjuntos/227/imagenes/001/339/0001339693/diseno-titulo-84jpg.jpg" />
				<h1>1930</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1944">
				<img src="https://i.pinimg.com/originals/c0/76/f7/c076f7d7ed2eaf0c4c0b122984a7d129.jpg" />
				<h1>1944</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1950">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/4.png" />
				<h1>1950</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1971">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/5.png" />
				<h1>1971</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1977">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/6.png" />
				<h1>1977</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1989">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/7.png" />
				<h1>1989</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="1999">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/8.png" />
				<h1>1999</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="2001">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/9.png" />
				<h1>2001</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
			<li id="2011">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/10.png" />
				<h1>2011</h1>
				<p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
			</li>
		</ul>
		<div id="grad_top"></div>
		<div id="grad_bottom"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>
	</div>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634954673/Global/montana-de-siete-colores_xxylfb.png" alt="" class="rounded float-start" width="30px">
      <h3>  Regiones de Jujuy</h3>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634951606/Global/Puna_fqw9r1.png" class="img-fluid rounded-start" alt="Region Puna">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h4 class="card-title h5Puna" id="RegionPuna">Puna</h4>
            <p class="card-text"> Meseta alta de clima frio y seco, grandes diferencias de temperatura entre el dia y la noche, suelo rocoso y arenoso, con ricos yacimientos minerales, vientos intensos todo el año, grandes lagunas y extensos salares, alturas entre 3500 y 4000 metros.</p>
        </div>
        </div>
    </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951619/Global/Quebrada_yrrtut.png" class="img-fluid rounded-start" alt="Región Quebrada">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Quebrada" id="RegionQuebrada">Quebrada</h5>
                <p class="card-text">Es un cañon de 170 kilometros, formado por altas montañas y quebradas con alturas entre 1200 y 3700 kilometros, la recorre en toda su extension el Rio Grande, su clima es seco y de estaciones bien definidas, en los cerros la vegetacion es escasapero hay vallecitos muy fertiles para el cultivo de frutas y verduras, hay manantiales y lagunas como la de Leandro.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951614/Global/Yungas_huwcfn.png" class="img-fluid rounded-start" alt="Región Yungas">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Yungas" id="RegionYungas">Yungas</h5>
                <p class="card-text">Zona de menor altura, calida y humeda, llamada tambien "Ramal o Valle de San Francisco", suelo fertil, abundante vegetacion y rica fauna, su clima es sub-tropical, con abundantes lluvias en el verano, posee numerosos rios, manantiales, lagunas, fuentes de agua termales, alturas entre 300 y 2500 metros.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-8" style="max-width: 2048px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://res.cloudinary.com/turistick/image/upload/v1634951622/Global/Valles_sd4bir.png" class="img-fluid rounded-start" alt="Región Valles">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title h5Valles" id="RegionValles">Valles</h5>
                <p class="card-text">Es un valle extenso ubicado entre las tierras de Zaplas y las de Chañi, el clima templado es muy agradable, no es muy caluroso en verano y las noches son frescas, el frio es seco, el suelo es muy fertil y rico en minerales, con sus numeros rios y arroyos como el de Reyes, Los Alisos y Leon, Posee hermosos espejos de agua como los diques La Cienaga, Las Maderas y lagunas como la de Yala, la altura sobre el nivel del mar oscila entre los 700 y los 1300 metros.</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634954915/Global/poncho_jjmpme.png" alt="" class="rounded float-start" width="30px">
      <h3>  Cultura de Jujuy</h3>
    </div>
    
    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">PACHAMAMA</li>
        </ul>
        <img src="https://www.cultura.gob.ar/media/uploads/7881993944_45c49c37b0_z.jpg" class="rounded float-start m-2"  width="35%" alt="pachamama">
        <p>El término "Pachamama" está formado por dos palabras de origen quechua: “pacha” significa mundo, tiempo, universo y lugar, y “mama”, madre. La Pachamama es la diosa de la tierra, la que concibe la vida, la madre protectora que protege, nutre y sustenta a los seres humanos y, por todos estos atributos, es honrada.</p>
        <p>El 1ro de agosto se conmemora el Día de la Pachamama, tradición ancestral, herencia de los pueblos originarios, que se celebra en todo el Noroeste del país cada 1ro de agosto, aunque en realidad las celebraciones y homenajes a la “Madre Tierra” se extienden durante todo el mes.</p>
        <p>La «Corpachada», como es llamada la ceremonia de alimentar a la Pachamama, es un ritual consagratorio. En un pozo, que representa la boca de la Madre Tierra, se entregan las ofrendas, acompañadas de agradecimientos, rezos y pedidos para todo el año. La ofrenda es una manera simbólica en la cual el hombre devuelve a la Pachamama lo que ha tomado de ella, con el fin de restablecer la reciprocidad entre el ser humano y la naturaleza. Razón por la cual se le ofrece una variedad de comidas, bebidas y hasta incluso cigarrillos.</p>
        <p>La Quebrada de Humahuaca es sin duda, un escenario donde se puede vivenciar con gusto esta tradición. En la Histórica Posta de Hornillos, ubicada a 73 km de la capital jujeña, año a año se realiza esta celebración, abierta a todo el público.</p>
        <p>Es una experiencia única para vivir si visitas nuestra provincia en el mes de agosto. Te presentamos a continuación un video presentado por los músicos jujeños conocidos como 'Los Tekis'</p>
        <div class="text-center">
          <iframe width="70%" height="500" src="https://www.youtube.com/embed/XPYEtpdAXSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="fst-italic fw-ligth">Video Gentileza de <a href="https://www.youtube.com/channel/UC0uYOpfnVuFfjRy1BE7dYTA">A donde Vamos </a></p>
        </div>
    </div>
    
    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">CARNAVAL</li>
        </ul>
        <br>
        <img src="https://elsubmarinojujuy.com.ar/wp-content/uploads/desentierro-2019-3-620x330.jpg" class="rounded float-end m-2" alt="carnaval" width="48%">
        <p>El Carnaval de Humahuaca es una celebración popular, que se realiza al comienzo de la cuaresma (40 días antes de Semana Santa), en la zona de la Quebrada de Humahuaca, provincia de Jujuy, Argentina.</p>
        <p>Introducido por los españoles en América, el carnaval se fusionó con rituales nativos destinados a celebrar la fecundidad de la tierra y a honrar a la deidad de la Madre Tierra, la Pachamama, por los bienes recibidos. Se trata de una versión breve y adaptada de la festividad peruana del Kapaj Inti Rami, que se iniciaba en diciembre y finalizaba en marzo, en la cual se bebía, cantaba, comía y bailaba hasta el paroxismo.</p>
        <p>El festejo se inicia en cada comunidad con el desentierro del diablo, llamado Coludo o Pujllay, que simboliza la celebración, de una apachetan 1 de piedras, representado por un muñeco de trapo que fue enterrado en el final del último carnaval. Los deseos reprimidos se liberan y durante el festejo se permite embriagarse sin recato, los preceptos morales son dejados de lado. La iglesia católica se ha visto obligada con el correr del tiempo a participar de los festejos “paganos”. El desentierro más popular de la provincia ocurre en Uquía con la tradicional bajada de los diablos desde el cerro.</p>
        <div class="row">
          <div class="col">
            <iframe width="630" height="350" src="https://www.youtube.com/embed/0Vu6LhadQ20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col">
            <p>La tradición tiene reminiscencias indígenas, españolas y criollas. Además, por ser la Quebrada de Humahuaca paso obligado hacia el Perú y Bolivia, ha asimilado la música y algunas características de esos países.</p>
            <p>Los dos jueves anteriores al carnaval las comadres se reúnen para celebrar el reencuentro, y al jueves siguiente llega el turno de los compadres, quienes se entretienen en divertidas copleadas relatando lo que les ocurrió a lo largo del año. El sábado de carnaval se juntan las comparsas.</p>
            <p>Dura ocho días: con el sol las comparsas concurren a las invitaciones, bailando carnavalitos por las calles, y a la noche se baila en los locales. El festejo termina el “Domingo de Tentación”, con el “entierro” del Diablo, en un hoyo que representa la boca de la Pachamama, junto a cigarrillos, coca, serpentinas y chicha. Se prueban entonces platos típicos como empanadas, corderos, queso de cabra y bebiendo, entre otras cosas, chicha y entre lamentos se reza para que haya nuevamente diversión al año siguiente.En el pequeño poblado de Tilcara es donde este carnaval alcanza su máximo fervor. </p>
          </div>
        </div>
    </div>

    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">FIESTA NACIONAL DE LOS ESTUDIANTES</li>
        </ul>
        <br>
        <img src="https://pbs.twimg.com/media/D39gwKVX4AE2yA2.jpg" class="rounded float-start m-2" alt="Logo-FNE" width="35%">
        <p>Desde 1952, cada septiembre, Jujuy se viste de primavera. La Fiesta Nacional de los Estudiantes (FNE) le imprime todo el colorido, la alegría y la vitalidad de los jóvenes. El escenario principal de la celebración está en San Salvador de Jujuy desde sus orígenes, condición que le permitió recibir el título de Capital Nacional de la Juventud y la Primavera, designación que lleva con orgullo y respeto y es resguardada por cada generación de estudiantes.</p>
        <p>La celebración no es sólo una expresión de lirismo o la oportunidad de encuentro para jóvenes de distintas latitudes dispuestos a divertirse, sino que además incorporó desde hace más de una década un proyecto educativo, corporizado en el Congreso Nacional de la Juventud. </p>
        <p>La FNE no surge de la noche a la mañana, comienza a gestarse meses antes con la elección de reinas en las diferentes instancias y la construcción de las Carrozas Alegóricas de cada establecimiento educativo de la provincia, tareas que demandan la atención y esfuerzo de los jóvenes estudiantes. Las carrozas, verdaderas obras de arte irrepetibles, cuentan con un esmerado trabajo artesanal para ornamentarlas, iluminarlas y darles movimientos. Miles de flores de papel y focos, cubren íntegramente sus estructuras de hierro, alambre, tela, papel de diario y cables. Hay obras de ingeniería y ejemplos de la tecnología aplicada, diferentes expresiones del arte, reflejando la imaginación única de los jóvenes. Todo esto tiene como principal motivación lucir sus obras de arte y el pasear a sus Reinas y Princesas en los desfiles que se realizan en la Ciudad Cultural.</p>
        <p>La Elección de la Reina Nacional de los Estudiantes es el punto culmine de un proceso de elecciones de reinas de cada establecimiento educativo de donde surge la Reina Provincial que participará junto a las representantes de las restantes provincias del país en el día más soñado por cada una de ellas. Este espectáculo está enmarcado por la actuación de un centenar de jóvenes estudiantes y artistas de renombre; todo esto coronado por fuegos de artificio, luces y sonidos que significan una puesta en escena de gran calidad y excelencia.</p>
        <p>La noche anterior al Día de la Primavera, -20 de septiembre- se realiza la apertura oficial de la Fiesta Nacional de los estudiantes con el desfile “Bienvenida Primavera”, una de las veladas más esperadas en Jujuy, especialmente para los más pequeños (alumnos de jardines maternales, escuelas primarias y de educación especial) de cada rincón de la provincia, que se vestirán de primavera y lo festeja a lo grande.</p>
    </div>
    <div class="ml-40 p-80"> 
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">VIRGEN DEL ROSARIO, RIO BLANCO Y PAIPAYA</li>
        </ul>
        <br>
        <img src="https://1.bp.blogspot.com/-lXdxo4nRTnw/XZtsv-wzlRI/AAAAAAAAx8s/BQ312A98GH8QaPnhXFq5pfXcZzU5OGQNACLcBGAsYHQ/s1600/p028_1_01.png" class="rounded float-end m-2" alt="carnaval">
        <p>El origen de Nuestra Señora del Rosario de Rio Blanco y Paypaya, se remonta a la época de la colonia, mediados del siglo XVII. Se dice que por el año 1714, la imagen de la Virgen fue trasladada a Río Blanco, población cercana, con valles fértiles aptos para el cultivo. El acta de su traslado y una campaña con la inscripción “SOY DE NTRA. SRA, DEL ROSARIO DE PAIPAYA-1696” se conservan en la Iglesia Catedral de Jujuy</p>
        <p>No obstante, su historia se une a la leyenda de los comienzos de la colonización americana, donde la conquista se dificultaba por la cantidad de tribus que habitaban la región, entre las que se encontraban los Paypayas, pueblos nómades por naturaleza cuyo origen aún no ha sido comprobado. De documentos existentes en la Provincia, surge que habitaron los márgenes del rio Corral de Piedras entre Tilquiza y Ocloya, región propicia para estos pueblos errantes. Los Paypayas se establecieron en las confluencias del Arroyo Seco (de los Blancos), Anastoro y Río Grande y es allí donde formaron una población como se pudo comprobar de los restos arqueológicos. La tradición cuenta que la Virgen defendió a la ciudad de Jujuy de los constantes ataques que sufría por parte de las tribus y cada vez que se querían concretar los mismos se les aparecía sobre un “pacará” (árbol sin espinas, llamado también timbó) la Virgen del Rosario, vestida de color rosa, manto celeste y empuñando su bastón de soberana y les impedía el paso. La imagen de la Virgen del Rosario estableció su trono de reina, señora y redentora del pueblo de Jujuy. Después de ello, los jesuitas emprendieron la conquista civilizadora de las demás tribus: Osas, Ojotas, Ocloyas, Tobas, Omaguacas, Purmamarcas, hasta los Calchaquíes, todas razas que asediaban al pueblo de Jujuy. Se cuenta que la fe fue penetrando en sus corazones, por lo que rindieron sus armas y facilitaron a los misioneros la conquista evangélica.</p>
        <p>La celebración a esta advocación se vincula a la Catedral de la ciudad de San Salvador de Jujuy y a la capilla ubicada en Río Blanco, localidad situada a 7 km de la capital, encontrándose en cada uno de estos lugares la imagen de la Virgen. Del resultado de averiguaciones surge que la primera imagen es la que se encuentra en la catedral ya que es la que recibió la Corona Pontificia, no obstante ambas reciben los honores de sus devotos. Durante el mes de octubre, Jujuy celebra la fiesta mariana de mayor convocatoria provincial. El pueblo jujeño, haciendo gala de su profunda fe religiosa, manifiesta su gran devoción a la Virgen Nuestra Señora de Rosario de Rio Blanco y Paypaya.</p>
    </div>
    <br>
    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/2771/2771406.png" alt="" class="rounded float-start" width="30px">
      <h3>  Comidas Típicas de Jujuy</h3>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <img src="https://www.hazteveg.com/img/recipes/full/201204/R21-41977.jpg" class="rounded-circle m-2" alt="..." width="75px" height="75px">
                <p class="fs-3 fw-bold"> Humitas</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              La humita es una elaboración de sal o dulce, hecha a base de choclo molido y queso, envuelto en sus propias hojas. Al ser una porción pequeña, puede definirse como refrigerio, ya que puede llevarse y consumirse en cualquier lugar. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <img src="https://us.cdn.eltribuno.com/112017/1510761813515.jpg?cw=600&ch=365" class="rounded-circle m-2" alt="..." width="75px" height="75px">
                <p class="fs-3 fw-bold"> Tamales</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Una masa especial preparada a base de maíz con un relleno de carne con una salsa picante. El resultado se envuelve en las hojas que recubren las mazorcas de maíz.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <img src="https://somosjujuy-wordpress.s3.amazonaws.com/wp-content/uploads/2020/04/30163734/locro-pulsudo.jpg" class="rounded-circle m-2" alt="locro" width="75px" height="75px">
                <p class="fs-3 fw-bold"> Locro</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              El locro criollo  es un plato elaborado a base de maíz blanco, porotos y zapallo o calabaza. Requiere una cocción prolongada por lo que permite utilizar cortes de carne duros como la falda y admite diferentes versiones variando los ingredientes.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                <img src="https://media.jujuyalmomento.com/p/cc5029671026f06ffc72de6dbf8c7c92/adjuntos/260/imagenes/001/189/0001189235/sabores1_5164jpg.jpg" class="rounded-circle m-2" alt="locro" width="75px" height="75px">
                <p class="fs-3 fw-bold"> Lomo de LLama</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              falta info
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                <img src="https://somosjujuy-wordpress.s3.amazonaws.com/wp-content/uploads/2019/06/empanadas.jpg" class="rounded-circle m-2" alt="empanadas" width="75px" height="75px">
                <p class="fs-3 fw-bold"> Empanadas</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              Es una fina masa de pan, masa quebrada u hojaldre rellena con una preparación salada o dulce y cocida al horno o frita. El relleno puede incluir carnes rojas o blancas, pescado, verduras o fruta.
            </div>
          </div>
        </div>
    </div>
    <br>
    <div>
        <img src="https://res.cloudinary.com/turistick/image/upload/v1634955101/Global/llamada-de-socorro_bo8iy3.png" alt="" class="rounded float-start" width="30px">
        <h3>  Servicios de Emergencias</h3>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/1022/1022331.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Policía</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>911</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/2991/2991301.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Bomberos</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>100</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://cdn-icons-png.flaticon.com/512/3708/3708571.png" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Emergencias Médicas</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>107</p>
            </div>
        </div>
        <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc116VMxZn8kabVk_pygisr4gK2ydsm0AzqKLe9dkO8tNXy_tYlQZwknaFnOmNxP0gwBw&usqp=CAU" alt="" width="50px">
              <p class="card-title fw-bold fs-4">Defensa Civil</p>
              <p class="card-text fs-5 text-center"><i class="fas fa-phone m-1"></i>103</p>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col">
            <p class="fw-light fs-4 text-center">Ubicación de los principales hospitales</p>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fRrAkhYMpLmjEtd7fPffAql_VexsY_3e" width="640" height="480"></iframe>
        </div>
        <div class="col">
            <p class="fw-light fs-4 text-center">Ubicación de las principales seccionales policiales</p>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11kJXcJN1AM7-AaokvvwB4tpW2nOaAxV5" width="640" height="480"></iframe>
        </div>
    </div>
    <br>
    
    

  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://www.csslab.cl/ejemplos/timelinr/latest/js/jquery.timelinr-0.9.54.js"></script>
    <script>
      $(function(){
			$().timelinr({
				orientation: 	'vertical',
				issuesSpeed: 	300,
				datesSpeed: 	100,
				arrowKeys: 		'true',
				startAt:		1
			})
		});
    </script>
    <script>
        const linkactivo=document.getElementById("ExploraJujuy")
        linkactivo.classList.add('active')
    </script>