    <link rel="stylesheet" href="/css/stylesIndex.css">
</head>
<body>
  {{>navigation}}
  <div class="container">
      <h1 class="text-center fst-italic mt-2">Descubre Jujuy, descubre lo nuestro</h1>
  <div class="searchs">
    <form action="/resultados" method="post">
      <div class="row g-2">
        <div class="col-md m-2">
          <div class="form-floating">
            <select id="Sitio" class="form-select" name="Sitio" aria-label="Que estas buscando">
              <option selected>Todos los Emprendimientos</option>
              <option>Alojamientos</option>
              <option>Restaurantes</option>
              <option>Tours</option>
            </select>
            <label for="Sitio">¿Qué estas buscando?</label>
          </div>
        </div>
        <div class="col-md m-2">
          <div class="form-floating">
            <input class="form-control" list="datalistOptions" id="exampleDataList"
              aria-label="Que localidad quieres visitar" />
            <datalist id="datalistOptions" name="Localidad">
              {{>localidades}}
            </datalist>

            <label for="exampleDataList">¿Qué localidad quieres visitar?</label>
          </div>
        </div>
        
      </div>
      <div class="d-grid gap-2 m-2">
        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center">
    <figure class="snip1361">
      <img
        src="https://res.cloudinary.com/turistick/image/upload/v1634279149/Regiones-Jujuy/0e4deae33373de2f5fc3b446fb6bd248_qlpwjf.jpg"
        alt="Puna" />
      <figcaption>
        <h3 class="text-center">Puna</h3>
        <p>
          Cielos infinitos de aire puro y extensas planicies de altura a más
          de 3600 msnm. Conocé más
        </p>
      </figcaption>
      <a href="/explorajujuy#RegionPuna"></a>
    </figure>
    <figure class="snip1361">
      <img
        src="https://res.cloudinary.com/turistick/image/upload/v1634279718/Regiones-Jujuy/la-quebrada-de-humahuaca-a-watercolor-landscape_518_201907300956080_lywrrs.jpg"
        alt="Quebrada" />
      <figcaption>
        <h3 class="text-center">Quebrada</h3>
        <p>
          Es la combinación perfecta entre paisajes espectaculares y riqueza
          arqueológica. Conocé más
        </p>
      </figcaption>
      <a href="/explorajujuy#RegionQuebrada"></a>
    </figure>
  </div>
  <div class="d-flex justify-content-center">
    <figure class="snip1361">
      <img src="https://res.cloudinary.com/turistick/image/upload/v1634280063/Regiones-Jujuy/0000402375_dagadc.jpg"
        alt="Yungas" />
      <figcaption>
        <h3 class="text-center">Yungas</h3>
        <p>
          Extensas hectáreas totalmente verdes con una flora y fauna
          sorprendentes. Conocé más
        </p>
      </figcaption>
      <a href="/explorajujuy#RegionYungas"></a>
    </figure>
    <figure class="snip1361">
      <img src="https://res.cloudinary.com/turistick/image/upload/v1634280502/Regiones-Jujuy/photo0jpg_x9ipac.jpg"
        alt="Valles" />
      <figcaption>
        <h3 class="text-center">Valles</h3>
        <p>
          Variedad de paisajes que enamoran a quienes sienten el aire
          primaveral de esta región. Conocé Más
        </p>
      </figcaption>
      <a href="/explorajujuy#RegionValles"></a>
    </figure>
  </div>
  <div class="position-relative">
    <div class="card w-75 position-absolute top-0 start-50 translate-middle-x mt-2">
      <div class="card-body">
        <h5 class="card-title text-center">Jujuy</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Energía Viva</h6>
        <p class="card-text text-center">Jujuy es una provincia ubicada al noroeste de Argentina. Limita al oeste con Chile, al norte con Bolivia mientras que al este y sur con la provincia de Salta. Se encuentra en un lugar geográfico privilegiado en donde se destaca por sus paisajes y climas. Aquí encontrarás una gran variedad de comidas típicas, personas dispuestas a ayudarte en lo que necesites y hasta un patrimonio de la Humanidad como lo es la Quebrada de Humahuaca. Esperamos que su visita a la provincia sea placentera y colme sus expectativas.</p>
        <p class="card-text text-center fw-light fst-italic">Atrévete a hacer turismo de una manera diferente, apoyando a nuestros emprendedores. Te aseguramos que te vas a sorprender y encontrar con personas maravillosas, así que adelante...</p>
        
        <div class="d-grid gap-2">
          <a href="/explorajujuy" class="btn btn-info">Explora Jujuy</a>
          <a href="#" class="btn btn-info">Soy Emprendedor</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  </div>