</head>
<body>
    {{>navigationAdm}}
    <div class="container">
        <div>
            <p class="fs-4 fw-bold">Solicitud Pendiente de Candela Albaracín</p>
            <p class="fs-4 fw-bold">Emprendimiento: Pensando en mí</p>
        </div>
        <div class="card mb-3">
            <p class="card-header">Información personal del emprendedor</p>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <p class="card-header">Información General del Emprendedimiento</p>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <p class="card-header">Información Específica del Emprendimiento</p>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
        <form action="/solicitudespendientes" method="POST" name="evaluarSolicitud" onsubmit="event.preventDefault()">
        <hr>
        <div class="mb-3">
            <label for="observaciones" class="form-label" >Observaciones</label>
            <textarea class="form-control" id="observaciones" name="observaciones" rows="3" placeholder="Escribe la retroalimentación que le quieres enviar al emprendedor cuando reciba el e-mail con la respuesta a su solicitud"></textarea>
        </div>
        <input type="text" name="resolucion" id="resolucion" hidden>
        <div class="d-flex justify-content-evenly">
            <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Se enviará un e-mail al emprendedor informando que aprobaste su solicitud" onclick="aceptado()">Aceptar</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Se enviará un e-mail al emprendedor informando que debe realizar modificaciones a su solicitud" onclick="solicitarModificacion()">Solicitar Modificación</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Se enviará un e-mail al emprendedor informando que rechazaste su solicitud" onclick="rechazado()">Rechazar</button>
        </div>
        </form>
        <a type="button" role="button" class="btn btn-secondary mt-3" href="/solicitudes/pendientes"><i class="fas fa-chevron-circle-left"></i> Volver</a>
    </div>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function(element){
                return new bootstrap.Tooltip(element);
            });
        });
    </script>

    <script>
        function aceptado(){
            const resolucion=document.getElementById('resolucion')
            resolucion.value="Aceptado"
            document.evaluarSolicitud.submit()
        }

        function rechazado(){
            const resolucion=document.getElementById('resolucion')
            resolucion.value="Rechazado"
            document.evaluarSolicitud.submit()
        }

        function solicitarModificacion(){
            const resolucion=document.getElementById('resolucion')
            resolucion.value="Modificacion"
            document.evaluarSolicitud.submit()
        }

    </script>