{{>navigation}} 
<div class="container p-4">
    <div class="columns">
        <div class="col-md-6 mx-auto">
            <div class="card text-center bg-dark">
                <div class="card-header">
                    <h3 class="text-white">Por favor, completa el Formulario</h3>
                </div>
                <div class="card-body">
                    <form action="/signemp" method="post" class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-4">
                                <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus>
                            </div>
                            <div class="form-group mb-4">
                                <input type="text" name="lastname" placeholder="Apellido" class="form-control">
                            </div>
                            <div class="form-group mb-4">
                                <input type="number" name="dni" placeholder="Dni" class="form-control">
                            </div>
                            <div class="form-group mb-4">
                                <input type="number" name="cuil" placeholder="Cuil" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-4">
                                <input type="email" name="email" placeholder="Correo" class="form-control" autofocus>
                            </div>
                            <div class="form-group mb-4">
                                <input type="text" name="emp" placeholder="Emprendimiento" class="form-control"
                                    autofocus>
                            </div>
                            <div class="form-group mb-4">
                                <select name="cat" class="form-select" aria-label="Default select example">
                                    <option selected>Categoria</option>
                                    <option value="1">Alquiler</option>
                                    <option value="2">Comida</option>
                                    <option value="3">Artesanias</option>
                                    <option value="4">Tours</option>
                                    <option value="5">Otro</option>
                                </select>
                            </div>
                            <div class="form-group mb-4">
                                <input type="text" name="ubi" placeholder="Ubicación" class="form-control" autofocus>
                            </div>
                        </div>
                        <div class="form-group mb-3 d-grid gap-2 ">
                            <button class="btn btn-success btn-block text-white">Solicitar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="text-center m-3">¿Necesitas ayuda para registrar tu emprendimiento?</h3>
    <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Contato de ayuda
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div><img src="https://cdn.icon-icons.com/icons2/1042/PNG/512/Contact_Icon_icon-icons.com_76434.png" alt="" class="rounded float-start" width="25px"> Contacto </div>
    <div><img src="https://cdn.icon-icons.com/icons2/644/PNG/512/red_phone_icon-icons.com_59526.png" alt="" class="rounded float-start" width="25px"> Telefono:3884143557 </div>
    <div><img src="https://cdn.icon-icons.com/icons2/91/PNG/512/facebook_16423.png" alt="" class="rounded float-start" width="25px"> Facebook: Melisa Lino </div>
  </div>
</div>
</div>